@{

    var phoneList = (List<PhoneModel>)ViewData["Phones"];

    var color = ViewData["color"];

    @*Layout = "_Layout1";*@
}

<table style="width:100%" class="table table-@color">

    <thead class="thead-light">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>image</th>
            <th>details</th>

        </tr>

    </thead>
    @foreach (var p in phoneList)
    {
        <tr>
            <th scope="row">@p.ID</th>
            <td>@p.Name</td>
            <td><img src="@p.Image" alt="" style="width:120px;height:120px;"></td>
            <td>
                <a href="/phones/details/@p.ID"><button type="button" class="btn btn-primary btn-sm">details</button></a>
            </td>
        </tr>
    }

</table>